.hero{
    padding-top: 64px;
    padding-bottom: 100px;
    background-image: url(../images/fundo_granulado.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .container{
        position: relative;
    }

    &::before{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        content: '';
    }

    &__text{
        margin-top: 64px;
        color: rgb(134, 202, 189);
        font-style: italic;
        margin-bottom: 64px;
        font-size: 30px;
        line-height: 56px;
        font-weight: 800;
        text-align: center;
    }

    &__txtlogo{
        font-family: "Pacifico", cursive;
        color: rgb(228, 151, 146);
        margin-top: 48px;
        margin-bottom: 64px;
        font-size: 50px;
        line-height: 56px;
        font-weight: 200px;
        text-align: center;
    }

    &__logo{
        margin: 0 auto;
        height: 80px;
        display: block;
    }

    @media(max-width:640px){
        padding: 40px 0;

        &__logo{
            height: 40px;
        }

        &__text{
            font-size: 22px;
            line-height: 24px;
            margin: 24px 0;
        }
    }
}